
/*body{
	background-image: url(../images/signback.jpg);
	background-repeat: none;
}*/
nav ul a,
nav .brand-logo {
  color: white;
}
.logo-img{
	height: auto;
	width: 70px;

}

p{
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
